<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
    <head>
        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="application-name" content="{{ SITENAME }}">
        <meta name="keywords" content="{{ SITEKEYWORDS }}">

        <!-- Title -->
        <title>{{ SITENAME }}{% block title %}{% endblock %}</title>

        <!-- Favicon -->
        {% if FAVICON %}
            <link rel="shortcut icon" href="{{ FAVICON }}" type="image/x-icon"/>
            <link rel="icon" href="{{ FAVICON }}" type="image/x-icon"/>
        {% endif %}

        <!-- Custom CSS file -->
        <link href="{{ SITEURL }}/theme/css/style.css" rel="stylesheet"/>
        {% block head %}
            <meta name="description" content="{{ SITEDESCRIPTION }}">
        {% endblock %}
    </head>
    <body>
        <header id="header" style="background-image: {% block BACKGROUND %}\url({{ BACKGROUND }}){% endblock %}">
            <div id="main-menu" class="menu">
                <div id="logo">
                    <a href="{{ SITEURL }}">
                    <img src="{{ LOGO }}">
                    </a>
                </div>
                <input type="checkbox" id="drop"/>
                <label for="drop" class="toggle">
                    <div></div>
                    <div></div>
                    <div></div> 
                </label>
                    <ul class="menu">
                        {% for title, link in MENUITEMS %}
                            <li {% if p == page %} class="active"{% endif %}><a href="{{ link }}">{{ title }}</a></li>
                        {% endfor %}
                        {% if DISPLAY_PAGES_ON_MENU %}
                          {% for p in pages %}
                            <li {% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                          {% endfor %}
                        {% endif %}
                          {% if DISPLAY_CATEGORIES_ON_MENU %}
                            {% for cat, null in categories %}
                              <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                            {% endfor %}
                          {% endif %}
                    </ul>
            </div>
            <div class="wrapper">
                <div>
                    <h1>{% block page_name %}{{ SITENAME }}{% endblock %}</h1>
                    {% block page_desc %}{% endblock %}
                </div>
            </div>
            <a href="#main">
            <div class="button">
                <i class="arrow down"></i>
            </div>
            </a>
        </header>
        <main id="main">
            {% block content %}
            {% endblock %}
        </main>
        {% include 'includes/footer.html' %}
    </body>
</HTML>
