{% extends 'base.html' %}

    {% block head %}
        <meta name="description" content="{{ SITEDESCRIPTION }}">
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
        <script>
          if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
              if (!user) {
                window.netlifyIdentity.on("login", () => {
                  document.location.href = "/admin/";
                });
              }
            });
          }
        </script>
    {% endblock %}

{% block page_desc %}
    <p>{{ SITEDESCRIPTION }}</p>
{% endblock %}


{% block content %}
<section class="content">

<ol id="post-list">
{% for article in articles_page.object_list %}
        <li><article class="hentry">
                <header> <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2> </header>
                <footer class="post-info">
                    {# <address class="vcard author"> #}
                    {# {% for author in article.authors %} #}
                    {#     <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a> #}
                    {# {% endfor %} #}
                    {# </address> #}
                    <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
                </footer><!-- /.post-info -->
                <div class="entry-content"> {{ article.summary }} </div><!-- /.entry-content -->
                <div class="more-button"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">mais</a></div>
        </article></li>
        <br/>
{% endfor %}
</ol><!-- /#posts-list -->
{% if articles_page.has_other_pages() %}
    {% include 'includes/pagination.html' %}
{% endif %}

</section><!-- /#content -->
{% endblock %}
