{% extends 'page.html' %}

{% block extend_content %}
<h2>Edições publicadas</h2>

<div class="pv-content">
{% for e in PV_LIST %}
<span class="pv-elem">
    <a href="{{ e[2] }}"><img src="{{ e[1] }}" title="{{ e[0] }}" alt="Imagem da Capa do PV - {{ e[0] }}"></a>
</span>
{% endfor %}
</div>
{% endblock %}
