* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

:root {
  --link-color: #d91c1c;
  --hover-color: red;
  --visited-color: #ba0d0d;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  font-family: "roboto", arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "roboto", arial, sans-serif;
}

.boletim {
  width: auto;
  text-align: center;
  background-color: #ff4747;
  font-family: "roboto", arial, sans-serif;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

a,
a:link {
  color: var(--link-color, red);
}

a:hover,
a:active {
  color: var(--hover-color, tomato);
}

a:visited {
  color: var(--visited-color, red);
}

ul,
ol {
  list-style-position: inside;
  padding-left: 40px;
}

ul {
  list-style-type: square;
}

.content {
  max-width: 960px;
  margin: auto;
}

blockquote {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* #header */

#header {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  color: #ddd;
}

#header h1 {
  font-size: 2rem;
  font-weight: bold;
}

#header hr {
  width: 100px;
  height: 4px;
}

#logo {
  display: inline;
}

#logo img {
  width: 80px;
  padding: 2rem;
  filter: invert(60%);
}

#header a {
  text-decoration: none;
}

#header ol,
ul {
  padding: 0px;
}

#header label {
  float: right;
  padding: 40px;
  clear: after;
}

#header label div {
  width: 35px;
  height: 5px;
  background-color: #aaa;
  margin: 6px 0;
}

#header ul {
  display: none;
}

@keyframes transition {
  from {
    max-height: 1px;
  }
  to {
    max-height: 100px;
  }
}

#header ul li {
  display: block;
  max-height: 100%;
  animation-name: transition;
  animation-duration: 1s;
  text-transform: lowercase;
}

#header ul li a {
  display: block;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #aaa;
  background: #222;
  float: none;
}

#header ul li a:hover,
#header ul li a:active {
  background: #444;
}

#drop {
  display: none;
}

#drop:checked ~ ul {
  display: block;
  clear: both;
}

.wrapper {
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper div {
  text-align: center;
  margin: 30px;
}

#header .button {
  flex: initial;
  width: 50px;
  height: 50px;
  display: block;
  /* background-color: #222; */
  border-radius: 50%;
  text-align: center;
  margin: 20px auto;
}

.arrow {
  border: solid #eee;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin: 20px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* Main */

main {
  display: flex;
}

#post-list {
  list-style: none;
}

main nav {
  flex: auto;
}

main .content {
  flex: auto;
}

article {
  padding: 20px;
  margin: auto;
  line-height: 1.5;
}

article .entry-title a,
article .author a {
  text-decoration: none;
  font-style: normal;
}

article time {
  color: #505050;
}

.pv-elem img {
  max-width: 200px;
}

/* Footer */

#footer {
  color: #aaa;
  flex-shrink: 0;
  background: #111;
  font-size: small;
  text-align: center;
  padding: 3px;
}

#footer a {
  color: #eee;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  #header #main-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #header h1 {
    font-size: 3rem;
    font-weight: bold;
  }

  #header label {
    display: none;
  }

  #header ul {
    display: block;
    float: right;
    padding: 0px 20px;
  }

  #header ul li {
    display: inline-block;
    min-width: 120px;
    font-weight: bold;
  }

  #header ul li a {
    background: none;
  }

  #header ul li a:hover,
  #header ul li a:active {
    color: #fff;
    background: none;
  }
}
